<% provide(:title, 'Benefits') %>
<%= render 'layouts/header' %>

<section id="inner-headline">
    <div class="container">
        <div class="span12">
            <div class="inner-heading">
                <p>Benefits</p>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
            <div class="span6">
                <h4>We'll collect pretty much anything</h4>
                <blockquote> From documents, to stock and supplies, to your laundry. </blockquote>
                <h4>Fast local deliveries</h4>
                <blockquote> We only collect and deliver locally so we can be at the collection point within minutes. </blockquote>
                <h4>Cashless system</h4>
                <blockquote> You register a credit card so we will bill you only when you use Fast Eddie. </blockquote>
                <h4>Save time</h4>
                <blockquote> Get on with your busy work day while we do the running around. </blockquote>
            </div>
    </div>
</section>
<%= render 'layouts/footer' %>