<% provide(:title, 'How it works') %>
<%= render 'layouts/header' %>

<section id="inner-headline">
    <div class="container">
        <div class="span12">
            <div class="inner-heading">
                <p>How it works</p>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
            <div class="span6">
                <h4>Tell Fast Eddie where to collect</h4>
                <blockquote> The first step is to tell Fast Eddie exactly where he needs to go to collect the goods, documents, or package. Fast Eddie should arrive at the collection point within minutes. Remember to include as much of the address as possible i.e. street address, street name, building name and number, suburb etc. </blockquote>
                <h4>Tell Fast Eddie where to deliver</h4>
                <blockquote> Be as precise as possible so Fast Eddie can find the destination. </blockquote>
                <h4>Include any special instructions</h4>
                <blockquote> Let us know any additional information regarding the delivery including additional contact numbers (we already have your name and contact number), or times that would suit collection or delivery. </blockquote>
                <h4>Billing</h4>
                <blockquote> Your credit card will be charged at the end of the delivery. The fee is worked out by multiplying the amount of kilometers it took for the delivery by the vehicle that was needed e.g. 10km for a scooter delivery (with a minimum fee of R60) = 10 x R4 = R40 = R60 because of minimum fee. </blockquote>
            </div>
    </div>
</section>
<%= render 'layouts/footer' %>