<% provide(:title, 'Terms and conditions') %>
<section id="content">
<div class="container">
<div class="row">
<div class="span12">   
<h4>Terms and conditions</h4>
<p>These Terms and Conditions constitute an agreement (“Agreement”) between you (“you”, “your”, “user”, “Customer”, or “Merchant”) and GNS Developments for the use of the FAST EDDIE website and any related products or services (“Service” or “Services”). This Agreement governs both the Services and any assigned account (“Account”) used in connection with the Services.<br /><br /></p>

<p>Any of the following actions constitute your agreement, without limitation or qualification, to be bound by, and to comply with, the terms of this Agreement: (i) your initialization or registration of the Services, through the FAST EDDIE website (fasteddie.co.za) or through any of the FAST EDDIE or GNS Developments subdomains (the FAST EDDIE website and subdomains are collectively referred to herein as, the “Site”); or (ii) through the use of your Account and password; or (iii) your use of the Site.<br /><br /></p>

<p><b>TERM</b><br /><br /></p>

<p>The term of this Agreement begins on the date we activate Services for your Account. This Agreement will continue from month to month until terminated by either party pursuant to the terms hereof.<br /><br /></p>

<p><b>ORDER ACCEPTANCE POLICY</b><br /><br /></p>

<p>Your submission of your order on the Site or receipt of an email confirmation signifies acceptance by FAST EDDIE of your order and the provision of your Account. FAST EDDIE may verify orders to prevent fraud. Should FAST EDDIE suspect the placement of a fraudulent order (even after you have received an email confirmation of acceptance of your order and the provision of your Account), FAST EDDIE may contact you by email or telephone regarding such suspected fraudulent order and, in FAST EDDIE’s sole discretion, we may interrupt, restrict, or terminate your Account without notice to you.<br /><br /></p>

<p><b>USE OF SERVICES &amp; ACCOUNT</b><br /><br /></p>

<p>You represent and warrant that you are at least 18 years of age or the applicable age of majority in your geographic area, and that you possess the legal right and ability to enter into this Agreement. You agree not to use the Materials, Content, Services, and your Account for any unlawful or abusive purpose or in any way which interferes with our ability to provide Services to our customers, or which damages our property.<br /><br /></p>

<p>Certain pages on the Site, or access to the Services and/or your Account, may be accessed only by use of a password and log-in. You are solely responsible for all uses of the Site and/or the Services and/or your Account with your password. You should change your password once each month. If your Services or Accounts are fraudulently used, you agree to immediately notify FAST EDDIE of such unauthorized use. We have the right to interrupt, restrict, or terminate Services to your Account, without notice to you, if we suspect fraudulent or abusive activity. You agree to cooperate with us in any fraud investigation and to use any fraud prevention measures we prescribe.<br /><br /></p>

<p><b>BILLING</b><br /><br /></p>

<p>
    The credit card will be kept on Chargify's secure servers and will not be charged until a delivery has been completed.<br /><br /></p> 

<p><b>EMAIL COMMUNICATIONS FROM FAST EDDIE TO YOU</b><br /><br /></p>

<p>YOU AGREE THAT FAST EDDIE MAY SEND EMAIL MESSAGES TO YOU FROM TIME TO TIME REGARDING PLANNED SERVICE DOWNTIME, NEW FEATURES, AND OTHER COMMUNICATIONS THAT WE BELIEVE OUR USERS WILL WANT TO KNOW ABOUT.<br /><br /></p>

<p>YOU MAY OPT OUT OF RECEIVING THESE EMAILS BY CANCELLING YOUR FAST EDDIE SERVICE.<br /><br /></p>

<p><b>NO WARRANTIES</b><br /><br /></p>

<p>THE MATERIALS, CONTENT, SERVICES, AND ACCOUNTS ARE PROVIDED “AS IS”. WE MAKE NO WARRANTIES REGARDING THE MATERIALS, CONTENT, SERVICES, AND ACCOUNTS WHATSOEVER AND DISCLAIM ANY AND ALL EXPRESS OR IMPLIED WARRANTIES OF ANY KIND, INCLUDING ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OF INTELLECTUAL PROPERTY, FITNESS FOR A PARTICULAR PURPOSE, OR WARRANTIES ARISING BY COURSE OF DEALING OR CUSTOM OR TRADE. WE DO NOT AUTHORIZE ANYONE TO MAKE A WARRANTY OF ANY KIND ON OUR BEHALF AND YOU SHOULD NOT RELY ON ANY SUCH STATEMENT. THIS PARAGRAPH SHALL SURVIVE TERMINATION OF THIS AGREEMENT. Some jurisdictions do not allow the disclaimer of implied warranties. In such jurisdictions, the foregoing disclaimers may not apply to you insofar as they relate to implied warranties. If you rely on the representations or warranties of any third parties with respect to the Services (including, without limitation, by dealers or resellers of the Services) beyond those made by FAST EDDIE, your sole remedy for such reliance is against the third party making such representation or warranty.<br /><br /></p>

<p><b>SERVICE AVAILABILITY</b><br /><br /></p>

<p>We will make every available effort to keep FAST EDDIE Services operational 24 hours a day, 7 days a week. There will be periods of downtime for maintenance and upgrades, and sometimes, for reasons that we did not plan. We will attempt to provide at least 24 hours of notice for scheduled maintenance or downtime, but some downtime may be unscheduled and beyond our control.<br /><br /></p>

<p>WE MAKE NO GUARANTEE AS TO UPTIME OR AVAILABILITY OF THE SERVICE.<br /><br /></p>

<p><b>LIMITATION OF LIABILITY</b><br /><br /></p>

<p>IN NO EVENT SHALL FAST EDDIE, ITS PARENTS, SUBSIDIARIES, AFFILIATES AND THEIR RESPECTIVE MEMBERS, MANAGERS, DIRECTORS, OFFICERS, EMPLOYEES, STOCKHOLDERS, OR AGENTS BE LIABLE FOR ANY DAMAGES, INCLUDING BUT NOT LIMITED TO DIRECT, COMPENSATORY, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, OR PUNITIVE DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF INFORMATION) ARISING OUT OF OR RELATING TO (i) YOUR INABILITY TO USE THE MATERIALS, CONTENT, SERVICES OR ACCOUNTS; (ii) YOUR MISUSE OF THE MATERIALS, CONTENT, SERVICES OR ACCOUNTS; (iii) NONPERFORMANCE OR A FAILURE OF THE SERVICES CAUSED BY ACTS OR OMISSIONS OF ANOTHER SERVICE PROVIDER, (iv) EQUIPMENT OR SOFTWARE FAILURE OR MODIFICATION; (v) TELECOMMUNICATIONS OR COMPUTER EQUIPMENT FAILURES, OR (vi) ACTS OF GOD, OR OTHER CAUSES BEYOND OUR REASONABLE CONTROL. THE FOREGOING SHALL APPLY EVEN IF FAST EDDIE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. FAST EDDIE ALSO MAKES NO REPRESENTATIONS OR WARRANTIES THAT YOUR ACCESS TO AND USE OF THE SITE, MATERIALS, CONTENT, SERVICES AND ACCOUNTS (1) WILL BE UNINTERRUPTED OR ERROR FREE; (2) IS FREE OF VIRUSES, UNAUTHORIZED CODE, OR OTHER HARMFUL COMPONENTS; (3) IS SECURE; OR (4) WILL MEET YOUR SATISFACTION. YOU ARE RESPONSIBLE FOR TAKING ALL PRECAUTIONS YOU BELIEVE NECESSARY OR ADVISABLE TO PROTECT YOU AGAINST ANY CLAIM, DAMAGE, LOSS OR HAZARD THAT MAY ARISE BY VIRTUE OF YOUR USE OF THE SITE, MATERIALS, CONTENT, SERVICES, AND ACCOUNT.<br /><br /></p>

<p>IN NO EVENT SHALL FAST EDDIE, ITS PARENTS, SUBSIDIARIES, AFFILIATES AND THEIR RESPECTIVE MEMBERS, MANAGERS, DIRECTORS, OFFICERS, EMPLOYEES, STOCKHOLDERS, AGENTS AND ANY UNDERLYING CARRIER BE LIABLE FOR INJURIES TO PERSONS OR PROPERTY ARISING FROM USE OF THE SERVICES, OR ANY EQUIPMENT USED IN CONNECTION WITH THE SERVICES.<br /><br /></p>

<p>IF, NOTWITHSTANDING THE OTHER TERMS OF THIS AGREEMENT, FAST EDDIE SHOULD HAVE ANY LIABILITY TO YOU OR ANY THIRD PARTY FOR ANY LOSS, HARM OR DAMAGE, YOU AND FAST EDDIE AGREE THAT IN NO EVENT SHALL LIABILITY OF FAST EDDIE TO YOU FOR ANY REASON EXCEED OUR SERVICE CHARGES DURING THE AFFECTED PERIOD GIVING RISE TO SUCH LIABILITY.<br /><br /></p>

<p>YOU AND FAST EDDIE AGREE THAT THIS SECTION OF THE AGREEMENT, “LIMITATION OF LIABILITY”, IS AN AGREED ALLOCATION OF RISK BETWEEN YOU AND FAST EDDIE. YOU ACKNOWLEDGE THAT, ABSENT YOUR AGREEMENT TO THIS LIMITATION OF LIABILITY, FAST EDDIE WOULD NOT PROVIDE THE SITE, MATERIALS, CONTENT, SERVICES, OR ACCOUNTS TO YOU.<br /><br /></p>

<p><b>MODIFICATION OF PRICES OR BILLING TERMS</b><br /><br /></p>

<p>FAST EDDIE reserves the right, at any time, to change its prices and billing methods for the Service, effective immediately upon posting to the Site or by email delivery to you.<br /><br /></p>

<p><b>INTELLECTUAL PROPERTY OWNERSHIP</b><br /><br /></p>

<p>All Materials, Services, Accounts, and content, including, but not limited to, policy information, text, software, music, sound, photographs, video, graphics, the arrangement of text and images, commercially produced information, and other material contained on the Site or through the Services (“Content”), are provided by FAST EDDIE unless indicated otherwise. All intellectual property rights in the Materials, Content, Services, and Accounts (including copyrights, trademarks, service marks, trade secrets and patents) are the property of FAST EDDIE. FAST EDDIE retains all copyrights in the individual pages, and their components, and collective works available at the Site.<br /><br /></p>

<p><b>SINGLE COPY (INSTANCE) LICENSE</b><br /><br /></p>

<p>You may utilize one copy (one “instance”) of the materials (the “Materials”) and/or Content found on this Site for use with the Services and/or Accounts. This is a license, not a transfer of title, and is subject to the following restrictions: unless you receive prior written consent from FAST EDDIE and unless you receive any required regulatory approvals, you may not: (a) modify the Materials, Content, Services or Accounts or use them for any commercial purpose or any public display, performance, sale or rental; (b) decompile, reverse engineer, or disassemble software, Materials, Content, Services or Accounts; (c) remove any copyright or other proprietary notices from the Materials, Content, Services or Accounts; (d) unless otherwise provided herein, transfer or resell the Materials, Content, Services or your Account to another person. You agree to prevent any unauthorized copying of the Materials, Content, Services and Accounts.<br /><br /></p>

<p><b>FAST EDDIE RELIANCE ON THIRD-PARTY SYSTEMS</b><br /><br /></p>

<p>FAST EDDIE does not store any credit card information. Instead, we pass credit card information to a payment gateway, and they store it in their system. We are not responsible or liable for any problems that arise as a result of credit card information being misused after we have passed it to the payment gateway for storage by them.<br /><br /></p>

<p><b>TERMINATION / CANCELLATION</b><br /><br /></p>

<p>You may terminate this Agreement at any time by ceasing all use of the Services or by notifying FAST EDDIE of your desire to cancel your Service. We may terminate this Agreement, at any time, without notice to you, if we believe, in our sole judgement, that you have breached or may breach any term or condition of this Agreement. You agree that termination of this Agreement will not relieve you of any obligation to pay any accrued charges.<br /><br /></p>

<p>All sections which by their nature should survive the expiration or termination of the Agreement shall continue in full force and effect subsequent to and notwithstanding the expiration or termination of this Agreement.<br /><br /></p>

<p>You shall be charged the full amount of the fee for the month in which the Services were terminated. There is no pro-rated refund or discount provided when an account is terminated.<br /><br /></p>

<p><b>PRIVACY</b><br /><br /></p>

<p><b>COOPERATION WITH GOVERNMENT AUTHORITIES</b><br /><br /></p>

<p>If necessary and in accordance with applicable law, FAST EDDIE will cooperate with local, state, federal, international, and/or worldwide government authorities to protect this Site, Materials, Content, Services, Accounts, visitors, customers, FAST EDDIE, its parents, subsidiaries, affiliates and their respective members, managers, directors, officers, employees, stockholders and agents and operational providers, from the unauthorized use of this Site, Materials, Content, Services and Accounts.<br /><br /></p>

<p><b>LINKS TO OTHER MATERIALS</b><br /><br /></p>

<p>The linked sites are not necessarily under the control of FAST EDDIE and FAST EDDIE is not responsible for the content of any linked site or any link contained in a non-affiliated linked site. FAST EDDIE reserves the right to terminate any link or linking program at any time. FAST EDDIE has selected the links for your convenience. The selection or omission of links is not intended to endorse any particular companies or products. If you decide to access any of the third-party sites linked to this Site, you do so entirely at your own risk. Any links to any portion of the Site shall be the responsibility of the linking party, and FAST EDDIE shall not be responsible for notification of any change in name or location of any information on the Site.<br /><br /></p>

<p><b>MODIFICATION</b><br /><br /></p>

<p>We may change or modify this Agreement from time to time, but any such change (a) will be made in good faith, and (b) if significant (as determined in the sole discretion of FAST EDDIE), will only be made after first providing you with notice of the change. You can review the most current version of this Agreement at any time at our Site (FAST EDDIE.com). If you do not agree to a significant change, you may terminate this Agreement by terminating use of the Services and/or by requesting that we terminate your Services.<br /><br /></p>

<p><b>ASSIGNMENT</b><br /><br /></p>

<p>We may assign all or part of our rights or duties under this Agreement in connection with a sale of all or substantially all the assets of FAST EDDIE to a third party without notice to you; provided any such third party shall be obliged to honor the terms of this Agreement. You may not assign this Agreement without our prior written consent.<br /><br /></p>

<p><b>INDEMNITY</b><br /><br /></p>

<p>YOU AGREE TO DEFEND, INDEMNIFY, AND HOLD HARMLESS FAST EDDIE, ITS PARENTS, SUBSIDIARIES, AFFILIATES, AND THEIR RESPECTIVE MEMBERS, MANAGERS, DIRECTORS, OFFICERS, EMPLOYEES, STOCKHOLDERS, AGENTS AND ANY UNDERLYING CARRIER, HARMLESS FROM AND AGAINST ANY AND ALL CLAIMS, EXPENSES OR DAMAGES (INCLUDING ATTORNEYS’ FEES), WHETHER KNOWN OR UNKNOWN, ARISING FROM, INCURRED AS A RESULT OF, OR IN ANY MANNER RELATED TO (A) YOUR USE OF THE SERVICES, (B) ANY OTHER PERSON’S USE OF ANY ACCOUNT YOU MAINTAIN, REGARDLESS OF WHETHER SUCH USE IS AUTHORIZED BY YOU, OR (C) YOUR PROMISES OR STATEMENTS MADE IN THIS AGREEMENT. YOU HEREBY AGREE TO WAIVE ALL LAWS THAT MAY LIMIT THE EFFECTIVENESS OF THE FOREGOING RELEASES. NOTWITHSTANDING THE FOREGOING, YOU SHALL NOT BE LIABLE FOR CLAIMS, EXPENSES OR DAMAGES ARISING FROM THE GROSSLY NEGLIGENT ACTS OF FAST EDDIE OR ITS EMPLOYEES, AGENTS, CONTRACTORS, OR REPRESENTATIVES. THIS INDEMNIFICATION SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW AND SHALL SURVIVE TERMINATION OF THIS AGREEMENT.</p>

<p><b>GENERAL INFORMATION, PUBLICITY, ENTIRE AGREEMENT</b><br /><br /></p>

<p>If any part of this Agreement is held invalid or unenforceable, that portion shall be construed to reflect the parties’ original intent, and the remaining portions shall remain in full force and effect.<br /><br /></p>

<p>You hereby consent to FAST EDDIE publicizing the existence (but not the terms) of the relationship contemplated hereunder as a part of promotional and marketing activities from time to time by FAST EDDIE.<br /><br /></p>

<p>This Agreement constitutes the entire agreement between FAST EDDIE and you with respect to your use of the FAST EDDIE Site, Materials, Content, Services, and your Account, and it supersedes all prior or contemporaneous communications and proposals, whether oral or written, between FAST EDDIE and you with respect thereto.<br /><br /></p>

<p>The failure of FAST EDDIE to exercise or enforce any right or provision of this Agreement shall not constitute a waiver of such right or provision.<br /><br />
</p>
</div>
</div>
</div>
</section>