<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"><html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
        .content a {font-family: Tahoma, Arial; color: #0099CC; font-weight: normal; text-decoration: none;}    
        .footer a { color:#ffffff; text-decoration: none; }
</style>
<title></title>
</head>
<body style="background-color:#FAFAFA; " ><center ><div ><table border="0" cellpadding="0" cellspacing="0" width="100%" ><tr ><td align="center" valign="top" ><table border="0" cellpadding="0" cellspacing="0" width="400" style="background-color:#ffffff; border:1px solid #DDDDDD; " ><tr ><td align="center" valign="top" ><table border="0" cellpadding="0" cellspacing="0" width="400" ><tr ><td ><div class="mktEditable" id="header-image" ></div>
</td>
</tr>
</table>
</td>
</tr>
<tr ><td align="center" valign="top" ><table border="0" cellpadding="0" cellspacing="0" width="400" style="background-color:#ffffff; " ><tr ><td ><table border="0" cellpadding="20" cellspacing="0" width="100%" style="color:#555555; font-family:Tahoma,Arial; font-size:14px; line-height:150%; text-align:left; " ><tr ><td valign="top" class="content" ><div class="mktEditable" id="edit_text_1" >
    <h2>Hi <%= @user.contact_name %>,</h2>
<p>We've created a really simple to use tool that encourages your satisfied customers to tell the world how much they love your business.</p>
<p>I hope you find Mention Engine useful.</p>
<p>Click on the link below to get started:</p>
<p><%= link_to 'Get Started', "http://www.mentionengine.com/signin", target: "_blank", style: "color: #ffffff; font-family: Tahoma, Geneva, sans-serif; font-size: 16px; background-color: #0A7BB0; padding: 10px; width: 130px; display: block; margin-left: auto; margin-right: auto; text-align: center;" %></p>
</p>

<p>Regards,</p>
<p>Grant Spilsbury<br />
    Co-founder<br />
                        <a href="http://mentionengine.com" target="_blank">mentionengine.com</a></p>
<table style="color: #555555; font-family: Tahoma,Arial; font-size: 14px; line-height: 150%; text-align: left;" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
</tbody>
</table></div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top">
<table border="0" cellpadding="0" cellspacing="0" width="400">
<tr>
<td></td>
</tr>
<tr height="60">
<td width="140" valign="middle"><a target="_blank" href=
"http://mentionengine.com" style="border:none;"
><img src="https://s3.amazonaws.com/goodwordlabs-us/static-images/logo-small.jpg" alt="Mention Engine Logo" style="padding-bottom: 5px;"></a></td>
<td style="color: #707070; padding-left: 30px;">
<p style="color: #a3a3a3; font-family: Tahoma, Geneva, sans-serif; font-size: 11px;">This email was sent to you via Mention Engine.<br /> Grow your business with <a href="http://mentionengine.com">Mention Engine</a></p>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
</center>
</body>
</html>
