<footer>
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="widget">
                        <h5 class="widgetheading">Get in touch with us</h5>
                    </div>
                </div>
                <div class="span3">
                    <div class="widget">
                        <address>
                            <strong>Fast Eddie</strong><br>
                            94 Kingsaven, Big Bay<br>
                            Cape Town, 7441, South Africa </address>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="widget">
                            <p>
                                <i class="icon-phone"></i> 072 052 0772 <br>
                                <i class="icon-envelope-alt"></i> hello@fasteddie.co.za
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <div class="copyright">
                                <p>
                                    <span><%= link_to 'Terms and conditions', '#', class: 'terms-link' %> <%= link_to 'Privacy policy', '#', class: 'terms-link' %>  </span>
                                </p>
                            </div>
                        </div>
                        <div class="span6">
                            <ul class="social-network">
                                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
                                <li><a href="#" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>